<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css">

        <!-- bootstrap css-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">


        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>


        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>


        <!-- main page css -->
        <link rel="stylesheet" href="css/style.css">

        <!-- main js -->
        <script type='text/javascript' src='js/main.js'></script>


</head>


<body>
    <%- include('../partials/navbar') %>

        <script>
            $(document).ready(() =>
            {
                var style = document.getElementById("capture-nav").style;
                style.borderRadius = "6px";
                style.backgroundColor = "rgb(98, 149, 189)";
                style.transition = "background-color 3500ms";
            });
        </script>


        <div id="margin">

            <section>
                <form id="form" action="/form-data" method="post" class="row g-3 needs-validation" novalidate>
                    <div class="col-6">
                        <label for="form-elem" class="form-label">First name</label>
                        <input name="FirstName" type="text" class="form-control" id="form-name" onfocusout="GetCurrentLeave()" placeholder="Mark" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-6">
                        <label for="form-elem" class="form-label">Last name</label>
                        <input name="LastName" type="text" class="form-control" id="form-surname" onfocusout="GetCurrentLeave()" placeholder="Otto"
                            required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="col-6">
                        <label for="form-elem" class="form-label">Leave start date</label>
                        <input name="LeaveStartDate" type="date" class="form-control" onfocusout="CalculateLeave()" id="form-leave-start" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="col-6">
                        <label for="form-elem" class="form-label">Leave end date</label>
                        <input name="LeaveEndDate" type="date" class="form-control" onfocusout="CalculateLeave()" id="form-leave-end" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    
                    <div class="row-sm-6">
                        <label for="message" class="form-label">Current leave left (without current subtracted):</label>
                        <input type="number" name="" readonly class="form-disp" id="form-current-leave">
                    </div>
                    <div class="row-sm-6">
                        <label for="message" class="form-label">Total Leave days taken:</label>
                        <input type="number" name="" id="form-days-taken" readonly class="form-disp">
                    </div>
                    <div class="row-sm-6">
                        <label for="message" class="form-label">Total Leave days left:</label>
                        <input type="number" name="" id="form-days-left" readonly class="form-disp">
                    </div>
                   

                    <div class="row-6">
                        <label for="form-elem" class="form-label">Choose the type of leave</label>
                        <select name="LeaveType" id="form-select-option" class="form-select">
                            <option value="Annual" selected>Annual</option>
                            <option value="Family Responsibility">Family Responsibility</option>
                            <option value="Sick">Sick</option>
                            <option value="Maternity">Maternity</option>
                            <option value="Unpaid">Unpaid</option>
                            <option value="Study">Study</option>
                        </select>
                    </div>


                    <div class="col-sm-6">
                        <label for="message" class="form-label">Reason</label>
                        <textarea rows="2" name="Message" id="message" placeholder="Your Message"
                            class="form-control w-full px-3 py-2 rounded-sm placeholder-gray-500 text-gray-900 bg-gray-100 text-sm focus:btn-outline-primary"
                            required></textarea>
                    </div>



                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </section>





        </div>
</body>

</html>