<!-- Navigation panel -->
<nav class="navbar navbar-expand sticky-top navbar-light bg-light" id="nav">
    <div class="container-fluid">      
        <button class="navbar-toggler" id="navbar-toggle" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                
                <li>
                    <a id="capture-nav" class="nav-link n-link" href="/Capture">Capture Request</a>
                </li>
                <li>
                    <a id="list-nav" class="nav-link n-link" href="/List">List Requests</a>
                </li>
                          
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navigation panel-->